h1, h2, p {
    color : #3a3a3a;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

body {
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  text-align: center;
}

.button {
  background-color: #625238;
  color: white;
  padding: 10px;
  border-radius: 12px;
  display: inline-flex;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
}

/*  #######   Memo Part #######  */

#memory-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

#grid-memo {
    display: inline-grid;
    grid-template: repeat(2, 200px) / repeat(3, 200px);
    background-color: #9ca99d; 
    border: 2px solid#9ca99d; 
    margin: 0 auto;
}

.card {
    border: 2px solid#9ca99d  ; 
}

.card:hover {
  cursor: pointer;
}

.front, .back {
  border-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;  
}

.front{
    background: #e4d4ac;  
    font-size: 18px;
}

.back {
  font-size: 25px;
  background: #f79449;
  transform: rotateY(180deg);
}

.double-face {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.active {
  transform: rotateY(180deg)
}

 /*  #######   Quizz Part #######  */
 #quizz-container {
  height: 450px;
  width: 600px;
  background-color: #9ca99d;
  border-radius: 5px; 
  margin: 20px auto;
}

#quizz-container h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 200%;
}

#quizz-container p {
  font-size: 150%;
}

#question-counter{
  margin-left: 20px;
  margin-top: 5px;
  float: left;
}

#score-counter {
  margin-right: 20px;
  margin-top: 5px;
  float: right;
}

#question-answer-container {
  clear: both;
  width: 400px;
  margin: auto;
}

#grid-quizz {
  display: inline-grid;
  grid-template: repeat(3, 70px) / repeat(1, 400px);
}

.choice-container {
  align-items:center;
  display:flex;
  height: 50px;
  background-color: #e4e3db;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px 0 grey;
  transform: translateY(-1px);
  transition: transform 150ms;
}

.choice-prefix {
  background-color: #ab956f;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.choice-text {  
  padding-left: 10px;
}

#wrong {
  visibility: hidden;
  /*visibility: hidden;*/
  margin-top: -230px;
  margin-left: -100px;
  width: 600px;
  height: 380px;
  background-color: #ececea;
  position: absolute;
}

#wrong span {
  font-weight: bold;
  font-size: 150%;
}
#wrong .button {
  background-color: #f79449;
  color: inherit;
}

#grid-feed-back {
  display: inline-grid;
  grid-template: repeat(2, 100px) / repeat(2, 200px);
  border: 2px solid  #9ca99d;
  background-color:#9ca99d;
}

#grid-feed-back div {
  border-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4d4ac;
  border: 2px solid  #9ca99d;
}

#next-question:hover {
  cursor: pointer;
} 

#end-game {
  visibility: hidden;
  /*visibility: hidden;*/
  margin-top: -390px;
  margin-left: -100px;
  width: 600px;
  height: 460px;
  background-color: #d6d4d4;
  position: absolute;
}

#end-game .button {
  background-color: #f79449;
  color: inherit;
}

#end-game p {
  padding-top: 100px;
}

.color-correct {
  background-color:darkcyan ;
}
.color-uncorrect {
  background-color: darkred;
}





/* responsivness ###################################################### */


@media screen and (max-width: 650px) { 
  h1 {
    color: red;
  }
  /*  #######   Memo Part #######  */
#grid-memo {
    grid-template: repeat(2, 170px) / repeat(3, 170px);
}

   /*  #######   Quizz Part #######  */
#quizz-container {
    width: 500px;
}

#wrong {
  margin-top: -230px;
  margin-left: -50px;
  width: 500px;
}

#end-game {
  margin-left: -50px;
  width: 500px;
}
  } /* Close  @media screen  */





@media screen and (max-width: 550px) { 
  h1 {
    color: yellow;
  }

h1, h2, p {
  margin-bottom: 5px;
  margin-top: 5px;
}
  
h1 {
  font-size: 160%;
}
  
h2 {
  font-size: 130%;
}

.button {
  margin-bottom: -10px;
}


   /*#######   Memo Part #######  */
#grid-memo {
    grid-template: repeat(3, 150px) / repeat(2, 150px);
}


/*  #######   Quizz Part ####### */
#quizz-container h2 {

  font-size: 180%;
}

#quizz-container p {
  font-size: 130%;
}


#quizz-container {
  width: 100%;
}

#question-answer-container {
  width: 100%;
  margin-left: -10px;
  position: relative;
}

#grid-quizz {
  display: inline-grid;
  grid-template: repeat(3, 70px) / repeat(1, 270px);
}

#wrong {
  width: 100%;
  margin-left: 10px;
}

#grid-feed-back {
  grid-template: repeat(2, 100px) / repeat(2, 150px);
}

#end-game {
  width: 100%;
  margin-left: 10px;
  margin-top: -360px;
}


}/* Close  @media screen and (max-width: 500px) */


/*
h1, h2, p {
  margin-bottom: 5px;
  margin-top: 5px;
}

  h1 {
    font-size: 160%;
    }
    
  h2 {
  font-size: 130%;
  }

  /*  #######   Memo Part #######  

  #grid-memo {
    grid-template: repeat(3, 150px) / repeat(2, 150px);
}


   /*  #######   Quizz Part ####### 
  #quizz-container {
    width: 100%;
  }

  #question-answer-container {
    width: 100%;
  }
  
  #grid-quizz {
    display: inline-grid;
    grid-template: repeat(3, 70px) / repeat(1, 300px);
  }

#wrong {
  width: 100%;
  margin-left: 0px;
}

#grid-feed-back {
  grid-template: repeat(2, 100px) / repeat(2, 150px);
}

#end-game {
  width: 100%;
  margin-left: 0px;
  margin-top: -370px;
}


} /* Close  @media screen and (max-width: 500px) */
